body {
  background-color: #000;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
}

nav {
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: #000;
  z-index: 1;
}

main {
  margin-top: 70px;
}
.logo {
  height: 50px;
  margin-left: 10px;
}

ul li {
  display: inline-flex;
  color: white;
  text-decoration: underline;
  margin-right: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
}
.banner img {
  height: 700px;
  width: 1200px;
  object-fit: cover;
}

.mission-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #000;
  color: white;
  width: 100%;
}

.middle-container {
  color: #fff;
  width: 1000px;
  margin: auto;
  text-align: center;
}

.tea-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.tea-card img {
  height: 200px;
  width: 300px;
}

.tea-card h4 {
  margin-top: 10px;
}
